$primary-font: "Noto Sans";
$color1: rgb(0, 0, 84);
$color2: rgb(232, 232, 232);
$color3: rgba(137, 43, 226, 0.6);
$color4: rgb(145, 69, 174);
$card-bg-img: url("../img/bg.jpg");
$vendors: ('','-webkit-', '-moz-', '-ms-', '-o-');